# dirs
# data heavy folders structure
data/
datasets/
Output/
.snakemake/
.wBuild*
.drop/
.Rdata
*.Rdata

# typical latex tmp files
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.out
*.err

# snakemake build
auto

# IDE project files
*.project
readme.html
*.Rproj
.Rproj.user
.Rhistory

# other
*~
.ipynb_
*.ipynb_*
slurm-*.out
__pycache__
~$
_cache
*_cache
*_files
*.cache
tmp/
resources/missing_exomes.txt
OUTRIDER/
py_outrider/
.tmp
