# Core Shiny packages
shiny
shinyjs
shinybusy
shinyWidgets
shinythemes
bslib

# Data handling
data.table
yaml

# Visualization
plotly
ggplot2
gganatogram
DT

# UI enhancements
tippy

# CRAN packages
vctrs
parallel
foreach
readxl
readr
openxlsx
plyr
dplyr
devtools
tidyr
tidyverse
stringr
reshape2
MASS
rmarkdown
knitr
LSD
ggplotify
ggrepel
ggforce
gplots
ggthemes
extrafont
pheatmap
ggbeeswarm
patchwork
cowplot
ggpubr
gridExtra
RColorBrewer
magrittr
seqinr
reticulate
keras
pracma
scales
mclust
ontologySimilarity

# Bioconductor packages
BiocManager
fgsea
S4Vectors
IRanges
DelayedArray
SparseArray
OUTRIDER
VariantAnnotation
DESeq2
SummarizedExperiment
clusterProfiler
limma
biomaRt
EnsDb.Hsapiens.v75
BSgenome.Hsapiens.UCSC.hg19
GenomicFeatures
GenomicRanges
Gviz
ggbio
org.Hs.eg.db
PCAN 