package bioconductor version
vctrs FALSE 
data.table FALSE  
parallel FALSE  
foreach FALSE  
readxl FALSE 
readr FALSE 
openxlsx FALSE 
plyr FALSE 
dplyr FALSE 
devtools FALSE 
tidyr FALSE 
tidyverse FALSE 
stringr FALSE 
OUTRIDER TRUE 
VariantAnnotation TRUE 
DESeq2 TRUE 
SummarizedExperiment TRUE 
clusterProfiler TRUE 
reshape2 FALSE 
limma TRUE 
MASS FALSE 
rmarkdown FALSE 
knitr FALSE 
LSD FALSE 
ggplot2 FALSE 
ggplotify FALSE 
ggrepel FALSE 
plotly FALSE 
ggforce FALSE 
gplots FALSE 
ggthemes FALSE 
extrafont FALSE 
pheatmap FALSE 
ggbeeswarm FALSE 
patchwork FALSE 
cowplot FALSE 
ggpubr FALSE 
gridExtra FALSE 
RColorBrewer FALSE 
biomaRt TRUE 
magrittr FALSE 
seqinr FALSE 
EnsDb.Hsapiens.v75 TRUE 
BSgenome.Hsapiens.UCSC.hg19 TRUE 
GenomicFeatures TRUE 
GenomicRanges TRUE 
Gviz TRUE 
ggbio TRUE 
org.Hs.eg.db TRUE 
ontologyIndex FALSE 
ontologySimilarity FALSE 
PCAN TRUE 
reticulate FALSE 
keras FALSE 
pracma FALSE 
scales FALSE 
mclust FALSE 